/* https://colorhunt.co/palette/22283131363f76abaeeeeeee */
/*   border: 3px solid red; */
/* https://stackoverflow.com/questions/45536537/centering-in-css-grid */

* {
  margin: 0;
  padding: 0;
}

body {
  display: block;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222831;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  border-bottom: 1px solid #31363f;
  color: #eeeeee;
}

.header-items {
  margin: 10px;
}

.play-area {
  display: flex;
}

.grid {
  display: grid;
  margin: auto;
}

.row {
  display: flex;
  height: 65px;
  margin: 2px;
}

.cell {
  display: flex;
  width: 60px;
  justify-content: center;
  border: 2px solid #31363f;
  margin: 3px;
  font-size: 2rem;
  align-items: center;
  color: #eeeeee;
  text-transform: capitalize;
  background-color: #222831;
}
