/* https://colorhunt.co/palette/22283131363f76abaeeeeeee */
/*   border: 3px solid red; */
/* https://stackoverflow.com/questions/45536537/centering-in-css-grid */

* {
  margin: 0;
  padding: 0;
}

body {
  display: block;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222831;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  border-bottom: 1px solid #31363f;
  color: #eeeeee;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.header-items {
  margin: 10px;
}

.play-area {
  display: block;
}

.grid {
  display: grid;
  justify-content: center;
  margin-bottom: 20px;
}

.row {
  display: flex;
  height: 65px;
  margin: 2px;
}

.cell {
  display: flex;
  width: 60px;
  justify-content: center;
  border: 2px solid #31363f;
  margin: 3px;
  font-size: 2rem;
  align-items: center;
  color: #eeeeee;
  text-transform: capitalize;
  background-color: #222831;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.keyboard {
  display: grid;
  justify-content: center;
}

.kb-row {
  display: flex;
  height: 50px;
  width: 500px;
  margin: 8px;
  justify-content: center;
}

.kb-button-container {
  display: flex;
  width: 60px;
  height: 50px;
  margin: 3px;
  border-radius: 4em;
}

.kb-button {
  display: block;
  background-color: #6e7c7c;
  color: #eeeeee;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 4em;
  border: none;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
